
/* UKkit Overrides --------------------------------------------------------------------- */
.uk-button-primary {
    background-color: #1b1b1b;
    color: #fff;
    border-radius: 5px;
    border: none;
    height: 60px;
    transition: all 0.2sec ease-in-out;
}
.uk-button-primary:hover {
    background-color: #262626;
}

/* iFrame Settings --------------------------------------------------------------------- */
#captureExp, #groovExp {
    min-width: 600px;
}
#capture {
    width: 70%;
    height: 80%;
}
/* Default Settings --------------------------------------------------------------------- */
html {
    font-family: 'Inter', sans-serif;
    line-height: 1.8em;
    font-size: 18px;
    background-color: transparent;
}
body {
    padding: 0;
    height: 100vh;
    width: 100%;
    color:rgb(255, 255, 255);
    background-color: transparent;
    position: relative;
    z-index: -20;
}
/* Content ------------------------------------------------------------------------------- */
#contentContainer {
    height: 100vh;
}
